<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Testcase Generator</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://unpkg.com/htmx.org@1.9.4"
        integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="/static/main.js"></script>
</head>

<body>
    <h1>Testcase Generator</h1>
    <div>
        <label for="feature-explanation">Give a short explanation of the feature: </label>
        <input id="feature-explanation" name="explanation">
        <button onclick="generate()">Generate</button>
    </div>

    <div id="scenarios"></div>
</body>

</html>